@use "../helpers"as *;


/*---------- HERO MRT (START)---------------------*/

.hero {
    padding-top: 170px;

    @include laptop {
        padding-top: 100px;
    }
}

.universal-hero {
    &__content {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


    &__text {

        padding: 56px 48px;
        background-color: var(--gray_white);
        border-radius: 40px;


        @include tablet {
            width: 100%;
            padding: 32px;
        }

        @include mobile {
            padding: 24px 16px;
        }
    }

    &__subtitle {
        font-size: 14px;
        padding: 12px;
        font-weight: 500;
        margin-bottom: 24px;
        background-color: var(--white);
        border-radius: 18px;

        @include tablet {
            margin-bottom: 20px;
        }

        @include mobile {
            padding: 8px 12px;
            margin-bottom: 12px;
        }
    }

    &__title {
        padding-bottom: 24px;
        border-bottom: 1px solid var(--gray_1);
        line-height: 1.2;

        @include tablet {
            padding-bottom: 20px;
        }

        @include mobile {
            padding-bottom: 16px;
        }
    }

    &__title-highlight {
        color: var(--blue_dark);
    }

    &__description {
        padding-top: 27px;
        margin-bottom: 40px;
        line-height: 1.6;

        @include tablet {
            font-size: 18px;
            padding-top: 20px;
        }

        @include mobile {
            font-size: 16px;
            padding-top: 16px;
            margin-bottom: 20px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile {
            .button {
                width: 100%;
            }
        }
    }

    &__note {
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.01em;
        color: var(--gray_blue_dark);
    }

    &__side-grid {
        display: grid;
        row-gap: 20px;
    }

    &__card-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

    }

    &__card {
        display: grid;
        border-radius: 40px;
        padding: 24px;

        &--info {
            background: var(--gray_white);
            position: relative;
            overflow: hidden;

            .universal-hero__card-title {
                font-size: 20px;
                font-weight: 700;
                line-height: 1.2;
                color: var(--blue_dark);
                margin-bottom: 12px;
            }

            .universal-hero__card-desc {
                font-size: 16px;
                line-height: 1.3;
                letter-spacing: 0.01em;
                color: var(--gray_blue_dark);
            }

            &::after {
                position: absolute;
                content: "";
                right: 10px;
                bottom: 0;
                height: 166px;
                width: 168px;
                background-image: url('/images/hero/doc-d.webp');
                background-size: contain;
                background-position: bottom right;
                background-repeat: no-repeat;
                z-index: 1;
            }

        }

        &--list {
            background: var(--light-blue);

            .universal-hero__card-title {
                font-weight: 600;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.01em;
                color: var(--blue_black);
                margin-bottom: 5px;
            }

            .universal-hero__tags {
                margin-top: auto;
                display: flex;
                flex-wrap: wrap;
                row-gap: 8px;
                column-gap: 4px;
            }

            .universal-hero__tag {

                background-color: var(--white);
                border: var(--border-gray_light);
                border-radius: 16px;
                padding: 6px 11px;
                font-weight: 500;
                font-size: 14px;
                line-height: 1.1;
                letter-spacing: 0.01em;
                text-align: center;

            }

            .universal-hero__tag.is-hidden {
                display: none;
            }
        }

        &--banner {
            padding: 40px;
            position: relative;
            overflow: hidden;
            background-color: var(--gray_white);

            .universal-hero__badge {
                border-radius: 18px;
                padding: 10px 12px;
                height: max-content;
                width: max-content;
                background-color: var(--white);
                border: var(--border-gray_light);

                font-weight: 500;
                font-size: 14px;
                line-height: 1.1;
                letter-spacing: 0.01em;
                text-align: center;
                margin-bottom: 50px;
            }

            .universal-hero__card-title {
                font-weight: 500;
                font-size: 32px;
                line-height: 1.3;
                margin-bottom: 12px;

            }

            .universal-hero__card-desc {
                font-weight: 400;
                font-size: 16px;

                line-height: 1.5;
                letter-spacing: 0.01em;
                color: var(--gray_blue_dark);
                margin-bottom: 24px;
            }

            .universal-hero__link {

                font-weight: 600;
                font-size: 15px;

                line-height: 1.1;
                letter-spacing: 0.01em;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                text-align: center;
                color: var(--gray_blue_dark);
                margin-top: auto;
            }
        }

    }

    &__card-left {
        width: 100%;
        max-width: 203px;
    }

}


/// =====================
// HERO — Преимущества
// =====================

.hero {
    &__features-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            gap: 16px;
        }

        @include mobile {
            gap: 12px;
        }

        @include mobile-m {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }

    &__features-item {
        position: relative;
        display: flex;
        background-color: var(--gray_blue);
        border: var(--border-gray_light);
        border-radius: 24px;
        overflow: hidden;
        min-height: 136px;

        @include tablet {
            min-height: 92px;
        }

        @include mobile {
            min-height: 86px;
        }
    }

    &__features-title {
        position: relative;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: var(--blue_black);
        padding: 24px 0 24px 24px;
        z-index: 2;
        max-width: 194px;

        @include tablet {
            font-size: 18px;
        }

        @include mobile {
            font-size: 16px;
        }
    }

    &__features-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        z-index: 1;
    }
}

/*---------- HERO (END)---------------------*/